[submodule "RagiMagick/external_lib/libjpeg-turbo/src"]
	path = RagiMagick/external_lib/libjpeg-turbo/src
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "RagiMagick/external_lib/libpng/src"]
	path = RagiMagick/external_lib/libpng/src
	url = git@github.com:glennrp/libpng.git
[submodule "RagiMagick/external_lib/zlib/src"]
	path = RagiMagick/external_lib/zlib/src
	url = git@github.com:ragingo/zlib.git
